################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WpfApp2/.vs/ProjectEvaluation/wpfapp2.metadata.v9.bin
/WpfApp2/.vs/ProjectEvaluation/wpfapp2.projects.v9.bin
/WpfApp2/.vs/ProjectEvaluation/wpfapp2.strings.v9.bin
/WpfApp2/.vs/WpfApp2/FileContentIndex/4d3c0b94-cad5-4c55-a3b7-a004ae07bfc9.vsidx
/WpfApp2/.vs/WpfApp2/DesignTimeBuild/.dtbcache.v2
/WpfApp2/.vs/WpfApp2/FileContentIndex/57ea8245-c600-43b3-951e-ad9c5c994cb1.vsidx
*.vsidx
/WpfApp2/.vs/WpfApp2/FileContentIndex/e6f4f4b0-193e-4e2d-b684-d3651f470832.vsidx
/WpfApp2/.vs/WpfApp2/FileContentIndex/ebf772aa-2139-484f-98b9-bd438996edef.vsidx
/WpfApp2/.vs/WpfApp2/FileContentIndex/fb45de44-24e9-4256-a596-01a6073cdc39.vsidx
/WpfApp2/.vs/WpfApp2/v17/.futdcache.v2
/WpfApp2/.vs/WpfApp2/v17/.suo
/WpfApp2/.vs/WpfApp2/v17/DocumentLayout.backup.json
/WpfApp2/.vs/WpfApp2/v17/DocumentLayout.json
/WpfApp2/WpfApp2/obj/Debug/net8.0-windows/MainWindow.g.i.cs
/WpfApp2/WpfApp2/obj/Debug/net8.0-windows/WpfApp2.AssemblyInfo.cs
/WpfApp2/WpfApp2/obj/Debug/net8.0-windows/WpfApp2.AssemblyInfoInputs.cache
/WpfApp2/WpfApp2/obj/Debug/net8.0-windows/WpfApp2.assets.cache
/WpfApp2/WpfApp2/obj/Debug/net8.0-windows/WpfApp2.csproj.AssemblyReference.cache
/WpfApp2/WpfApp2/obj/Debug/net8.0-windows/WpfApp2.GeneratedMSBuildEditorConfig.editorconfig
/WpfApp2/WpfApp2/obj/Debug/net8.0-windows/WpfApp2_MarkupCompile.i.cache
/WpfApp2/WpfApp2/obj/Debug/net8.0-windows/WpfApp2_MarkupCompile.i.lref
/WpfApp2/WpfApp2/obj/project.assets.json
/WpfApp2/WpfApp2/obj/project.nuget.cache
/WpfApp2/WpfApp2/obj/WpfApp2.csproj.nuget.dgspec.json
/WpfApp2/WpfApp2/obj/Debug/net8.0-windows
